@model IEnumerable<StartR.Domain.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p><a class="btn btn-default" href="/client/create"><i class="icon-plus"></i>&nbsp;Create New</a></p><br/>
<div id="Clients">
    <i id="spinner" class="icon-spinner icon-spin icon-large"></i> Loading content...
</div>

@section scripts
{
    <script type="text/javascript">        
        $(document).ready(function () {
            $.getJSON('/api/clients', function (response) {
                var html = '';
                $.each(response, function (idx, d) {
                    html += '<span> <a href=\'/client/details/' + d.id + '\'>' + d.lastName + ', ' + d.firstName + '</a></span><br>';
                });
                $('#Clients').html(html);
            });
            
        });
    </script>
}